<% for i in 0..14 do %>
        <div>
            <% if @results["items"][i]["volumeInfo"]["title"].nil? %>
                <p>情報がありません</p>
            <% else %>
                <p>タイトル：<%= @results["items"][i]["volumeInfo"]["title"] %></p>
            <% end %>
            <% if @results["items"][i]["volumeInfo"]["authors"].nil? %>
                <p>情報がありません</p>
            <% else %>
                <p>著者：<%= @results["items"][i]["volumeInfo"]["authors"][0] %></p>
            <% end %>
            <% if @results["items"][i]["volumeInfo"]["imageLinks"].nil? %>
                <p>情報がありません</p>
            <% else %>
                <img src="<%= @results["items"][i]["volumeInfo"]["imageLinks"]["thumbnail"] %>" >
            <% end %>
        </div>
<% end %>